 *{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.box{
    height: 32px;
    background-color:#333333;
}
.topone{
    width: 1400px;
    margin: auto;
    height: 32px;
   
}
.topone .oneleft{
    width: 484px;
    height: 32px;
   
    float: left;
}
.oneleft > li{
    float: left;
    font-size: 14px;
    color: #ccc;
    line-height: 32px;
    margin-right: 40px;
    cursor: pointer;
}
.oneleft > li:nth-child(1){
    margin-left: 20px;
}
.oneleft > li:hover{
    color: cadetblue;
}
.oneright{
    height: 32px;
    width: 250px;
   
    float: right;
}
.oneright > li {
    float: left;
    margin-right: 20px;
}
.oneright > li:nth-child(1){
    margin-left: 40px;
}
.oneright > li a:hover{
    color: cadetblue;
}
.car{
    display: inline-block;
    font-size: 12px;
    color: #ccc;
    font-weight: 400;
    line-height: 32px;
    cursor: pointer;
}
.login{
    display: inline-block;
    font-size: 12px;
    color: #ccc;
    font-weight: 400;
    line-height: 32px;
    cursor: pointer;
   
}
.X{
    font-size: 12px;
    color: #ccc;
    font-weight: 400;
    line-height: 32px;
    vertical-align: top
}
.login2{
    display: inline-block;
    font-size: 12px;
    color: #ccc;
    font-weight: 400;
    line-height: 32px;
    cursor: pointer;
}
.toptow{
    height: 68px;
    width: 1200px;
    /* background: pink; */
    margin: auto;
}
.logo{
    height: 68px;
    width: 120px;
   
    float: left;
    
}
.logo > span{
  
    font-size: 26px;
    line-height: 68px; 
}
.logo > span:hover{
    color: blue;
}
.toptow .list{
    width: 1000px;
    position: relative;
    height: 68px;
    float: left;
}
.listUl > li{
    float: left;
    line-height: 68px;
    font-size: 18px;
    margin-right: 30px;
    cursor: pointer;
}
.listUl > li:nth-child(1){
    margin-left: 120px;
}
.listUl > li:nth-child(9){
    color: rgb(132, 132, 132);
}
.listUl > li:hover{
    color: blue;
}


/* jquery*/
.list .listJQ{
    position: absolute;
    left: -280px;
    top: 68px;
    height: 250px;
    width: 1520px;
    background-color:white;
    z-index: 99999;
    display: none;
}
.listJQ ul {
    margin: auto;
    width: 1200px;
    height: 250px;
}
.listJQ li{
    margin-top: 30px;
    float: left;
    margin-left: 140px;
}
.listJQ li >img{
    height: 160px;
    width: 70px;
}
.X27{
    display: block;
    text-align: center;
    margin-top: 10px;
}

.toptow .Sou{
    height: 68px;
    width: 30px;
    
    float: left;
    margin-left: 25px;
}
.Sou > span{
    font-size: 18px;
    line-height: 68px;
    color: #c0c5c3;
}


.swiper{
    height: 524px;
    background-color: skyblue;
}

.swiper-container {
    width: 1520px;
    height: 524px;
} 
.swiper img{
    height: 524px;
    width: 1520px;
}

.banner{
    position: absolute;
    height: 482px;
    width: 1200px;
    
    z-index: 99;
    left: 158px;
    top: 120px;
    
}
.banner .banUL{
    height: 477px;
    width: 200px;
    background-color: rgb(132, 132, 132,0.3);
    padding-top: 5px;
    
}

.banUL li {
    
    width: 100%;
   
}
.banUL >li > a{
    position: relative;
    display: block;
    padding: 0 48px 0 42px;
    color: #333;
    font-size: 14px;
    line-height: 60px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    line-height: 68px;
}
.banUL >li>a >span{
    position: absolute;
    right: 28px;
   
}
.banUL > li :hover{
   
    background-color: white;
}

.banBox{
    position: absolute;
    height: 482px;
    width: 760px;
    left: 208px;
    top: 0px;
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
    display: none;
}
.banBox > p{
    height: 58px;
    line-height: 58px;
    
}
.banBox > p a{
    position: absolute;
    right: 50px;
    top: 0px;
    color: black;
}
 .banBox_index .ban1UL1{
    height: 140px;
   
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 1px solid #ccc;
}
 .banBox_index .ban1UL1 li{
    height: 50px;
    width: 150px;
    margin: 10px;
    float: left;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.banBox_index .ban1UL2{
    height: 250px;
    
    padding-left: 30px;
    padding-right: 30px;
}
 .banBox_index .ban1UL2 > li{
    font-size: 14px;
    height: 50px;
    width: 150px;
    margin: 10px;
    float: left;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

}
/* .ban1_box{
    display: none;
} */
.banBox1{
    position: absolute;
    height: 482px;
    width: 760px;
    left: 208px;
    top: 0px;
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
    display: none;
}
.banBox1 > p{
    height: 58px;
    line-height: 58px;
   
}
.banBox1 > p a{
    position: absolute;
    right: 50px;
    top: 0px;
    color: black;
}
 .banBox_index1 .ban1UL1{
    height: 140px;
   
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 1px solid #ccc;
}
 .banBox_index1 .ban1UL1 li{
    height: 50px;
    width: 150px;
    margin: 10px;
    float: left;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.banBox_index1 .ban1UL2{
    height: 250px;
   
    padding-left: 30px;
    padding-right: 30px;
}
 .banBox_index1 .ban1UL2 > li{
    font-size: 12px;
    height: 50px;
    width: 150px;
    margin: 10px;
    float: left;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

}
/*------*/
.banBox2{
    position: absolute;
    height: 482px;
    width: 760px;
    left: 208px;
    top: 0px;
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
    display: none;
}
.banBox2 > p{
    height: 58px;
    line-height: 58px;
   
}
.banBox2 > p a{
    position: absolute;
    right: 50px;
    top: 0px;
    color: black;
}
 .banBox_index2 .ban1UL1{
    height: 140px;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 1px solid #ccc;
}
 .banBox_index2 .ban1UL1 li{
    height: 50px;
    width: 150px;
    margin: 10px;
    float: left;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.banBox_index2 .ban1UL2{
    height: 250px;
   
    padding-left: 30px;
    padding-right: 30px;
}
 .banBox_index2 .ban1UL2 > li{
    font-size: 12px;
    height: 50px;
    width: 150px;
    margin: 10px;
    float: left;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

}
/**/
.banBox3{
    position: absolute;
    height: 482px;
    width: 760px;
    left: 208px;
    top: 0px;
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
    display: none;
}
.banBox3 > p{
    height: 58px;
    line-height: 58px;
   
}
.banBox3 > p a{
    position: absolute;
    right: 50px;
    top: 0px;
    color: black;
}
 .banBox_index3 .ban1UL1{
    height: 140px;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 1px solid #ccc;
}
 .banBox_index3 .ban1UL1 li{
    height: 50px;
    width: 150px;
    margin: 10px;
    float: left;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.banBox_index3 .ban1UL2{
    height: 250px;
   
    padding-left: 30px;
    padding-right: 30px;
}
 .banBox_index3 .ban1UL2 > li{
    font-size: 12px;
    height: 50px;
    width: 150px;
    margin: 10px;
    float: left;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

}
/**/
.banBox4{
    position: absolute;
    height: 482px;
    width: 760px;
    left: 208px;
    top: 0px;
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
    display: none;
}
.banBox4 > p{
    height: 58px;
    line-height: 58px;
   
}
.banBox4 > p a{
    position: absolute;
    right: 50px;
    top: 0px;
    color: black;
}
 .banBox_index4 .ban1UL1{
    height: 140px;
   
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 1px solid #ccc;
}
 .banBox_index4 .ban1UL1 li{
    height: 50px;
    width: 150px;
    margin: 10px;
    float: left;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.banBox_index4 .ban1UL2{
    height: 250px;
   
    padding-left: 30px;
    padding-right: 30px;
}
 .banBox_index4 .ban1UL2 > li{
    font-size: 12px;
    height: 50px;
    width: 150px;
    margin: 10px;
    float: left;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

}
/**/
.banBox5{
    position: absolute;
    height: 482px;
    width: 760px;
    left: 208px;
    top: 0px;
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
    display: none;
}
.banBox5 > p{
    height: 58px;
    line-height: 58px;
   
}
.banBox5 > p a{
    position: absolute;
    right: 50px;
    top: 0px;
    color: black;
}
 .banBox_index5 .ban1UL1{
    height: 140px;
   
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 1px solid #ccc;
}
 .banBox_index5 .ban1UL1 li{
    height: 50px;
    width: 150px;
    margin: 10px;
    float: left;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.banBox_index5 .ban1UL2{
    height: 250px;
   
    padding-left: 30px;
    padding-right: 30px;
}
 .banBox_index5 .ban1UL2 > li{
    font-size: 12px;
    height: 50px;
    width: 150px;
    margin: 10px;
    float: left;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

}
/**/
.banBox6{
    position: absolute;
    height: 482px;
    width: 760px;
    left: 208px;
    top: 0px;
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
    display: none;
}
.banBox6 > p{
    height: 58px;
    line-height: 58px;
   
}
.banBox6 > p a{
    position: absolute;
    right: 50px;
    top: 0px;
    color: black;
}
 .banBox_index6 .ban1UL1{
    height: 140px;
   
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 1px solid #ccc;
}
 .banBox_index6 .ban1UL1 li{
    height: 50px;
    width: 150px;
    margin: 10px;
    float: left;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.banBox_index6 .ban1UL2{
    height: 250px;
   
    padding-left: 30px;
    padding-right: 30px;
}
 .banBox_index6 .ban1UL2 > li{
    font-size: 12px;
    height: 50px;
    width: 150px;
    margin: 10px;
    float: left;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

}





.bigBox{
    background-color: rgb(247,247,245);
}

.hand{
    height: 200px;
    width: 1200px;
   
    margin: auto;
}
.handUL li {
    /* float: left; */
    margin-top: 10px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    
}

.handUL li img{
    width: 296px;
    height: 180px;
}


.content{
    width: 1200px;
    height: 480px;
  
    margin: auto;
    margin-top: 30px;
}
.content > p{
    font-size: 24px;
    text-align: center;
    margin: 10px 0px 10px 0px ;
}
.contUl li{
    float: left;
    width: 390px;
    height: 430px;
    text-align: center;
    background-color: white;
    
}
.contUl li:nth-child(2){
    margin: 0px 14px 0px 14px;
}
.contUl img{
   
    height: 230px;
    width: 230px;
    text-align: center;
}
.contUl li p{
    cursor: pointer;
}
.contUl li p:nth-child(2){
    font-size: 20px;
    margin-top: 30px;
}
.contUl li p:nth-child(3){
    font-size: 14px;
    margin-top: 10px;
}
.contUl li p:nth-child(4){
    font-size: 18px;
    margin-top: 40px;
    color: red;
}

.content2{
    width: 1200px;
    height: 800px;
  
    margin: auto;
    margin-top: 30px;
}
.content2 >p{
    font-size: 24px;
    text-align: center;
    margin: 10px 0px 10px 0px ;
}
.content2 .CT2{
    height: 380px;
    width: 1200px;
   
}
.cImg{
    height: 380px;
    width: 594px;
   
    float: left;
    
}
.CTul li{
    /* display: flex; */
    height: 380px;
    width: 293px;
    float: right;
    background-color: white;
}
.CTul li:nth-child(2){
    margin-right: 10px;
}
.CTul img{
    height: 172px;
    width: 172px;
    margin-left: 60px;
    margin-bottom: 30px;
}
.CTul li p{
    text-align: center;
    cursor: pointer;
}
.CTul li p:nth-child(2){
    font-size: 16px;
    margin-bottom: 20px;
    
}
.CTul li p:nth-child(3){
    font-size: 12px;
    margin-bottom: 40px;
    
}
.CTul li p:nth-child(4){
   color: red;
    
}

.CTbot{
    height: 358px;
    width: 1200px;
   margin-top: 10px;
}

.CTbot img{
    height: 172px;
    width: 172px;
    /* text-align: center; */

}
.CTbot ul li{
    height: 358px;
    width: 293px;
    /* align-items: center; */
    text-align: center;
    float: left;
    background-color: white;
}
.botUL li:nth-child(1){
    margin-right: 8px;
}
.botUL li:nth-child(3){
    margin-right: 10px;
    margin-left: 10px;
}
.botUL li p:nth-child(2){
    margin-top: 20px;
}

.botUL li p:nth-child(3){
    font-size: 12px;
    margin-top: 15px;
}
.botUL li p:nth-child(4){
    color: red;
    margin-top: 50px;
}

.leg{
    height: 878px;
    width: 1200px;
    
    margin: auto;
}

.legTop{
    height: 87px;
    width: 1200px;
    
}
.legTop span{
    display: inline-block;
    font-size: 24px;
    margin-top: 30px;
    margin-left: 552px;
    float: left;
}

.legTop ul li{
    float: right;
    margin-top: 38px;
    margin-left: 20px;
    
}
.legTop ul li>a{
    color: black;
}
.legTop ul li>a:hover{
    color: blue;
}

.legbot img{
    height: 172px;
    width: 172px;
}
.legbot li{
    float: left;
    height: 380px;
    width: 293px;
    text-align: center;
    background-color: white;
    margin-bottom: 10px;
}
.legbot li:nth-child(1){
    margin-right: 10px;
}
.legbot li:nth-child(3){
    margin-right: 10px;
    margin-left: 8px;
}
.legbot li:nth-child(5){
    margin-right: 10px;
}
.legbot li:nth-child(7){
    margin-right: 10px;
    margin-left: 8px;
}

.legbot li p:nth-child(2){
    margin-top: 20px;
}

.legbot li p:nth-child(3){
    font-size: 12px;
    margin-top: 15px;
}
.legbot li p:nth-child(4){
    color: red;
    margin-top: 50px;
}





.footTOP{
    width: 1200px;
    height: 90px;
    /* background-color:skyblue; */
    margin: auto;
    margin-top: 40px;
    border-bottom: 1px solid slategrey;
    margin-bottom: 60px;
}
.footUl > li{
    float: left;
    line-height: 90px;
    margin: 0px 78px 0px 106px;
    font-size: 22px;
}
.footUl li span{
    font-size: 22px;
    text-align: center;
}
.footTow{
    width: 1200px;
    height: 240px;
    
    margin: auto;
}
.footTow .footText{
    width: 900px;
    height: 240px;
   
    float: left;
}
.footText li{
    float: left;
    margin-right: 83px;
}
.footText li:nth-child(1){
    margin-left: 20px;
}
.textDl > dt{
 
    font-size: 20px;
    margin-bottom: 30px;
}
.textDl >dd{
    font-size: 16px;
    
    color: inherit;
    margin-bottom: 12px;
    cursor: pointer;

}
.textDl >dd:hover{
    color: blue;
    
}
.footKF{
    width: 185PX;
    height: 240px;
   
    float: right;
}
.footKF > p{
    font-size: 24px;
    margin-bottom: 20px;
}
.footKF > p:hover{
    color: blue;
}
.footKF .footSZ{
    font-size: 24px;
    color: blue;
    
}
.footKF .footTXT{
    font-size: 14px;
}
.footKF > span:nth-child(5){
    font-size: 14px;
    
}
.footKF > ul li{
   float: left;
   font-size: 18px;
   margin-right: 22px;
}
.footKF > ul li:hover{
    color: blue;
}
.footLast{
    width: 1200px;
    height: 90px;
  
    margin: auto;
    margin-top: 60px;
    border-top: 1px solid silver;
}
.footLast > p{
    
    font-size: 12px;
    justify-content: center;
    margin-top: 35px;
    box-sizing: border-box;
    display: flex;
    cursor: pointer;
}